body{

    color: black

}


.tickerContainer{
    
    outline: 3px solid blue;
    height: 100%;
    width: 100px;
    background-color: aliceblue;
    text-align: center;
    /* background-color:  */
}